{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="section">
      <ul class="collection with-header">
        <li class="collection-header"><h4>Todos</h4></li>
        {% if all_todos %}
          {% for todo in all_todos %}
          <li class="collection-item"><div>{{todo}}<a href="/complete/{{todo.id}}/" class="secondary-content"><i class="material-icons">check</i></a></div></li>
          {% endfor %}
        {% else %}
          <h2 class="green-text">No tasks left to do</h2>
        {% endif %}
      </ul>
      <ul class="collection with-header">
        <li class="collection-header"><h4>Completed Todos</h4></li>
        {% if todos_completed %}
          {% for todo in todos_completed %}
          <li class="collection-item"><div>{{todo}}<a href="/un-complete/{{todo.id}}/" class="secondary-content"><i class="material-icons">close</i></a>
            <a href="/delete/{{todo.id}}/" class="secondary-content"><i class="material-icons red-text">delete</i></a>
          </div></li>
          {% endfor %}
        {% else %}
          <h2 class="red-text">You have done nothing , Start working</h2>
        {% endif %}
      </ul>
      <div class="row">
        <form class="col s12" action="/" method="post"> {% csrf_token %}
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="I should do . . ." name="todo_task" id="first_name" type="text" class="validate">
              <label for="first_name">Todo</label>
            </div>
          </div>
          <div class="row">
            <button type="submit" class="btn green">Add</button>
          </div>
        </form>
      </div>
    </div>
    <br><br>
  </div>
  {% endblock content %}